<div class="container login-container">
  <div class="row">
    <div class="col-md-6 ads">
      <h1>
        <span >Please enter your register Email Address.</span>
      </h1>
    </div>
    <div class="col-md-6 login-form">
      <br />
      <br />
      <form [formGroup]="emailverify" (ngSubmit)="checkmail(emailverify.value)">
        <div class="form-group">
          <label>Enter your email address.</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Email Address"
            
          />
        </div>
        <br />
       
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Submit</button>
          <br />
          <br />
        </div>
      </form>
    </div>
  </div>
</div>