<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <img
    src="https://media.istockphoto.com/vectors/paper-checklist-and-pencil-flat-pictogram-vector-id1303877287?k=20&m=1303877287&s=612x612&w=0&h=XpJG8-1-uzHeOQ5AQsfMZSmLt3u7IqZ0TWKtO8nnWQ0="
    width="50px"
    height="50px"
  />&nbsp;&nbsp;

  <a class="navbar-brand" routerLink="/">ToDoList</a>

  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!loggedin()" class="nav-item active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="loggedin()"class="nav-item active">
          <a class="nav-link" routerLink="/dashboard" >Create Task </a>
        </li>

        <li *ngIf="loggedin()" class="nav-item active" >

          <a class="nav-link" routerLink="/myprofile"  >
            <!-- MyProfile -->
            <i class="bi bi-person"></i>
            {{User.name}}
             <!-- <img src ={{User.image}} width=50px height =30px> -->
             </a
          >
          
        </li>
        <li *ngIf="loggedin()" class="nav-item active">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
