<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-9">
      <strong>
        <h1>WELCOME TO TODO APP </h1>
      </strong>

      <br />
      <h3>Organize your work and life, finally.</h3>
      <img
        src="https://media.istockphoto.com/vectors/paper-checklist-and-pencil-flat-pictogram-vector-id1303877287?k=20&m=1303877287&s=612x612&w=0&h=XpJG8-1-uzHeOQ5AQsfMZSmLt3u7IqZ0TWKtO8nnWQ0="
      />
    </div>
  </div>
</div>
<div>rtturutfytrftyf</div>