<div class="container login-container">
  <div class="row">
    <div class="col-md-6 ads">
      <h1>
        <span >Reset Password.</span>
      </h1>
    </div>
    <div class="col-md-6 login-form">
      <br />
      <br />
      <form [formGroup]="formGroup" (ngSubmit)="resetForm(formGroup.value)">
        <div class="form-group">
          <label>New Password</label>
          <input
            type="text"
            class="form-control"
            formControlName="new_password"
            placeholder="Enter Password."
          />
        </div>
        <br />
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="text"
            class="form-control"
            formControlName="confirm_password"
            placeholder="Enter Password"
          />
        </div>
        <br />
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Done
          </button>
          <br />
          <br />
        </div>
      </form>
    </div>
  </div>
</div>
